.header
{
border:solid black;
background:white;
color:pink;
text-size:25px;
text-color:black;
padding:20px;
}
.footer
{
color:white;
text-align:center;
padding:20px;
font-size:50px;
}
a:hover {
    background:#ffddcc;
}